@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --body-bg: #84CDCA;
  --currency-converter-bg: #C38D9E;
  --exchange-rate-bg: #E27D60;
  --currency-converter-display-bg: #41B3A3;
  --container-height: 100%;
  --container-width: 100%;
  --portrait-vh : 100vh;
  --portrait-vw : 90vw;
  --landscape-vh : 30vh;
  --landscape-vw : 60vw;
  // --left-height: 66vh;
  --font-family: 'Roboto', sans-serif;

  --nondesktop-height: 20vh;
  --tablet-height: 50vh;
}


body {
  max-width: 100%;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--body-bg);
  overflow: hidden;
  color: white;
  z-index: 0;

}
