@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --body-bg: #84CDCA;
  --currency-converter-bg: #C38D9E;
  --exchange-rate-bg: #E27D60;
  --currency-converter-display-bg: #41B3A3;
  --container-height: 30%;
  --container-width: 60%;
  --left-height: 66vh;
  --font-family: 'Roboto', sans-serif;

  --nondesktop-height: 20vh;
  --tablet-height: 50vh;
}

/*loading */
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: rgba(0, 0, 0, 0.834) url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center no-repeat;
  background-color: #F8F5FA;
  z-index: 10000;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
  z-index: 1000;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* end of loading styles*/

/* general styles*/
  .column.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 25%;
    input {
      width: 90%;
      border: none;
      border-radius: 4px;
    }
  }

  .btn-wrap {
    display: flex;
    width: 100%;

    button {
      width: 100%;
      background-color: #bada55;
      padding: 8px 4px;
      font-weight: 700;
      color: white;
      border: none;
      border-radius: 8px;
      margin: 16px 0;
      display: block;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  /* exchange-rate styles*/

  .exchange-rate-display {
    flex: 1;
    color: white;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    background-color: var(--currency-converter-display-bg);
  }

  /* right side styles*/

  .right {
    border-radius: 0 0 16px 16px;
    color: white;
    background-color: var(--exchange-rate-bg);
    padding: 16px;

    .lineChart-wrap .column-wrap {
      text-align: center;

      h3 {
        margin: 4px 0;
        font-size: 16px;
      }
    }


    .first-row {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin: 0;

      .column p {
        margin: 0;
        width: 100%;
      }
    }

    .row.second-row {
      display: flex;
      justify-content: center;

      button {
        width: 100%;
        background-color: #bada55;
        padding: 8px 4px;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 8px;
        margin: 16px 0;
        display: block;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      }
    }

    .lineChart {
      display: flex;
      align-items: stretch;
      height: 100%;
      width: 100%;
    }
  }

/* 0 start */
@media (min-width: 260px) and (max-width: 768px) {

  body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    overflow: hidden;
    color: white;
    z-index: 0;
    }
  h2 {
    font-size: 12px;
  }
  h3{
    font-size:  12px;
  }
}


/* 0 end*/


/*1 start----------------------------------------------------------------------*/
  @media screen and (orientation: portrait) {

  /* Original left side; now top two containers for currency and the exchange results */

    .flex {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .left {
      width: 100%;
    }

  .forDesktop {
    display: none;
  }


  .currency-converter {
    flex: 1;
    border-radius: 16px 16px 0 0;
    background-color: var(--currency-converter-bg);
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 0 16px;
    h2{
      padding: 16px 0;
      font-size: 20px;
    }
    p {
      margin: 0;
      font-size: 16px;
    }

    .column-wrap{
      display:flex;
      align-items: center;
      justify-content: space-between;
        input{
          width: 90%;
          border:none;
          border-radius: 4px;
        }
    }

    .btn-wrap {
      display: flex;
      width: 100%;
    }

  }


  /* Original left side stylings end; now top two containers for currency and the exchange result*/

  /* Original right side; now bottom chart container*/
  .right {
    border-radius: 0 0 16px 16px;
    background-color: var(--exchange-rate-bg);
    padding: 16px;

    .lineChart-wrap .column-wrap {
      text-align: center;
      h3{
        margin: 4px 0;
        font-size: 16px;
      }
    }

    .first-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      margin: 0;

      .column p {
        margin: 0;
        font-size: 16px;
      }
    }

    .row.second-row {
      display:flex;
      justify-content: center;

      button{
        width: 100%;
        background-color: #bada55;
        padding: 8px 4px;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 8px;
        margin: 16px 0;
        display: block;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      }
    }
    .lineChart {
      display: flex;
      align-items: stretch;
      height: 160px;
      width: 294px;
    }

    canvas {
      height: 100%;
      width: 100%;
    }
  }
}
/*1.end----------------------------------------------------------------------------*/

/*2 start----------------------------------------------------------------------*/

@media screen and (orientation: landscape) {

  body {
    max-width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--body-bg);
    overflow: hidden;
    color: white;
    z-index: 0;
  }

    .flex {
      display: flex;
      flex-direction: row;
      border-radius: 16px;
      width: 100%;
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    }

      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
      }


    .forDesktop {
      display: none;
    }


    .currency-converter {
      flex: 1;
      border-radius: 16px 0 0 0;
      background-color: var(--currency-converter-bg);
      text-align: center;
      font-size: 16px;
      h2 {
        padding: 0 16px;
        font-size: 16px;
      }

      .column-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      input {
        text-align: center;
        width: 50%;
      }
    }


    .exchange-rate-display {
      flex: 1;
      border-radius: 0 0 0 16px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-content: center;
      text-align: center;
      width: 100%;
      background-color: var(--currency-converter-display-bg);
      h3{
        font-size: 20px;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
    }

    /* Original left side stylings end; now top two containers for currency and the exchange result*/

    /* "Right Side", graph section*/
  .right {
    width: 50%;
    border-radius: 0 16px 16px 0;
    background-color: var(--exchange-rate-bg);
    padding: 8px;


    .lineChart-wrap .column-wrap {
      text-align: center;
      h3{
        margin: 8px;
        font-size: 20px;
      }
    }

    .first-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      margin: 4px;

      .column p {
        margin: 0;
        width: 100%;
        font-size: 16px;
      }
    }

    .row.second-row {
      display: flex;
      justify-content: center;

      button {
        width: 68%;
        background-color: #bada55;
        padding: 8px 4px;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 8px;
        margin: 16px 0;
        display: block;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      }
    }

    .lineChart-wrap {

      h3 {
        font-size: 24px;
      }
    }
    .lineChart {
      display: flex;
      align-items: stretch;
      width: 300px;
      height: 160px;
    }

    canvas {
      width: 20vw;
    }
  }
}
