

:root {
  --body-bg: #84CDCA;
  --newsfeed-bg: #E27D60;
  --currency-converter-bg: #C38D9E;
  --exchange-rate-bg: #41B3A3;
}

#root {
  width: 100%;
  min-height: 100vh;

}

/*loading */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.834) url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center no-repeat;
  background-color: white;
  z-index: 10000;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
  z-index: 1000;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* end of loading styles*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
  overflow: hidden;
  color: white;
  z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.wrapper  h2{
  text-align: center;
}


.flex {
  display: flex;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.row {
  display: flex;
}

.btn-wrap{
  display: flex;
  width: 100%;

  button{
    width: 100%;
    background-color: #bada55;
    border: none;
    border-radius: 4px;
    margin:8px 0;
    display:none;
  }
}




/* .left */

.left {
  border-radius: 16px;
}

.currency-converter {
  background-color: var(--currency-converter-bg);
  // border-radius: 16px 0 0 0;
  border-radius:16px 16px 0 0;
  padding: 16px;

  .column-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  input {
    text-align: left;
    width: 75%;
  }
  .select-container{
    width: 50%;
  }

}


.exchange-rate {
  background-color: var(--exchange-rate-bg);
  // border-radius: 0 0 0 16px;
  border-radius:0 0 16px 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .exchange-amount-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}


/* .right */

.news-feed {
  background-color: var(--newsfeed-bg);
  border-radius: 0 16px 16px 0;
  padding: 8px;

  .news-article {
    margin: 16px 0 0 0;
  }
}


@media only screen and (max-width: 600px) {
  .flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 16px;
  }

  .forDesktop {
    display: none;
  }

  .btn-wrap {
    display: flex;
    width: 100%;

    button {
      width: 100%;
      background-color: #bada55;
      border: none;
      border-radius: 4px;
      margin: 8px 0;
      display: block;
    }
  }

  .currency-converter {
    border-radius: 16px 16px 0 0;

    .column-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    input{
      text-align:center;
      width: 50%;
    }
  }

  .exchange-rate {
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .news-feed {
    border-radius: 0 0 16px 16px;
  }

  .news-article {
    margin: 8px 0 0 0;
  }
}
